<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/header.css" />
    <link rel="stylesheet" href="/assets/styles/forms.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="header">
      <h1>FILE UPLOADER</h1>
      <div class="authentication">
        <a href="/sign-in" class="sign-in">Sign In</a>
        <a href="/sign-up" class="sign-up">Sign Up</a>
      </div>
    </header>
    <main>
      <section class="forms">
        <form action="/sign-in" method="POST">
          <h2>Login</h2>
          <p>Don't have an account yet? <a href="/sign-up">Sign Up</a></p>
          <label for="username">Username</label>
          <input type="text" name="username" class="text" />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" />

          <input type="submit" value="Log in" class="submit" />
        </form>
      </section>
    </main>
  </body>
</html>
