aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1rem 1rem 0;
  border-right: 1px solid #36363b;
}

aside button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #56565f;
  color: #b6b6be;
  background-color: #1a1a1e;
  cursor: pointer;
}

aside button:hover {
  background-color: #383838;
}
